# serverless.yml
# see https://serverless.com/framework/docs/providers/aws/guide/serverless.yml/
# attributes are alphabetized, except for identifiers/names which come first

service: serverless-aws-python3-fec-datasync
app: fec-datasync
frameworkVersion: ">=2.0.0 <3.0.0"

# Custom variables
custom:
  backfill: 0
  Version: ${cf:fec-datasync-resources.Version}
  pythonRequirements:
    dockerizePip: false
  dev:
    API_KEY: /global/openfec-api/api_key
    deploymentBucketName: ${cf:fec-datasync-resources.DeploymentBucketName} #serverless-deploymentbucket-us-east-1-648881544937
    LOG_LEVEL: DEBUG
    candidate_sync_queue_arn: ${cf:fec-datasync-resources.CandidateSyncQueueArn}
    candidate_sync_queue_name: ${cf:fec-datasync-resources.CandidateSyncQueueName}
    copy_from_bucket_arn: ${cf:fec-datasync-resources.CopyFromBucketArn}
    copy_from_bucket_name: ${cf:fec-datasync-resources.CopyFromBucketName}
    REDSHIFT_COPY_ROLE: arn:aws:iam::648881544937:role/copyFromRedshiftRole
    filing_se_sqs_arn: ${cf:fec-datasync-resources.FilingSEQueueArn}
    filing_se_sqs_name: ${cf:fec-datasync-resources.FilingSEQueueName}
    rss_sns_topic_arn: ${cf:fec-datasync-resources.RSSFeedTopicArn}
    financial_summary_sqs_arn: ${cf:fec-datasync-resources.FinancialSummaryQueueArn}
    financial_summary_sqs_name: ${cf:fec-datasync-resources.FinancialSummaryQueueName}
    filing_sb_sqs_arn: ${cf:fec-datasync-resources.FilingSBQueueArn}
    filing_sb_sqs_name: ${cf:fec-datasync-resources.FilingSBQueueName}
    committeesync_sqs_name: ${cf:fec-datasync-resources.CommitteeSyncQueueName}
    committeesync_sqs_arn: ${cf:fec-datasync-resources.CommitteeSyncQueueArn}
    filing_f1s_sqs_name: ${cf:fec-datasync-resources.FilingF1SQueueName}
    filing_f1s_sqs_arn: ${cf:fec-datasync-resources.FilingF1SQueueArn}


# The lambda function(s) defined in this serverless config
# nested interpolation allows for stage-specific references
functions:

  GetDBStats:
    handler: src/get_db_stats.lambdaHandler
    reservedConcurrency: 1
    timeout: 30
    environment:
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
    events:
      - schedule: rate(60 minutes)

  CandidateSync:
    description: Polls OpenFEC API (once) for candidates that have filed recently and sends the IDs to SQS
    handler: src/CandidateSync.lambdaHandler
    reservedConcurrency: 1
    timeout: 30
    environment:
      API_KEY: ${self:custom.${self:provider.stage}.API_KEY}
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      SQS_QUEUE_NAME: ${self:custom.${self:provider.stage}.candidate_sync_queue_name}
    events:
      - schedule: cron(0 4 * * ? *)

  CandidateBackfill:
    description: Backfills candidates queue
    handler: src/CandidateSync.lambdaBackfillHandler
    reservedConcurrency: ${self:custom.backfill}
    timeout: 90
    environment:
      API_KEY: ${self:custom.${self:provider.stage}.API_KEY}
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      SQS_QUEUE_NAME: ${self:custom.${self:provider.stage}.candidate_sync_queue_name}
    events:
      - schedule: rate(15 minutes)

  CandidateLoader:
    description: Triggered by SQS it recieves Messages and writes candidate data to the DB
    handler: src/CandidateLoader.lambdaHandler
    reservedConcurrency: 1
    timeout: 30
    environment:
      API_KEY: ${self:custom.${self:provider.stage}.API_KEY}
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      SQS_QUEUE_NAME: ${self:custom.${self:provider.stage}.candidate_sync_queue_name}
    events:
      - sqs: "${self:custom.${self:provider.stage}.candidate_sync_queue_arn}"

  CommitteeSync:
    description: Polls OpenFEC API (once) for committees that have filed recently and sends the IDs to SQS
    handler: src/CommitteSync.committeSync
    reservedConcurrency: 1
    timeout: 30
    environment:
      API_KEY: ${self:custom.${self:provider.stage}.API_KEY}
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      SQS_QUEUE_NAME: ${self:custom.${self:provider.stage}.committeesync_sqs_name}
    events:
      - schedule: cron(0 0 * * ? *)

  CommitteeBackfill:
    description: Backfills committee sync queue
    handler: src/CommitteSync.lambdaBackfillHandler
    reservedConcurrency: ${self:custom.backfill}
    timeout: 90
    environment:
      API_KEY: ${self:custom.${self:provider.stage}.API_KEY}
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      SQS_QUEUE_NAME: ${self:custom.${self:provider.stage}.committeesync_sqs_name}
    events:
      - schedule: rate(15 minutes)

  CommitteeLoader:
    description: Recieves committee Ids from SQS, queries api for committee info, updates DB
    handler: src/CommitteLoader.committeLoader
    reservedConcurrency: 1
    timeout: 300
    environment:
      API_KEY: ${self:custom.${self:provider.stage}.API_KEY}
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      SQS_QUEUE_NAME: ${self:custom.${self:provider.stage}.committeesync_sqs_name}
    events:
      - sqs: "${self:custom.${self:provider.stage}.committeesync_sqs_arn}"

  FilingSync:
    description: Scrapes FEC RSS feed for recent filings, pushes the new filings to SNS and SQS
    handler: src/FilingSync.lambdaHandler
    reservedConcurrency: 1
    timeout: 180
    environment:
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      RSS_SNS_TOPIC_ARN: "${self:custom.${self:provider.stage}.rss_sns_topic_arn}"
    events:
      - schedule: cron(0 0 * * ? *)

  FilingBackfill:
    description: Crawls back in time over filings
    handler: src/FilingSync.lambdaBackfillHandler
    # reservedConcurrency: ${self:custom.backfill}
    reservedConcurrency: 1
    timeout: 120
    environment:
      API_KEY: ${self:custom.${self:provider.stage}.API_KEY}
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      RSS_SNS_TOPIC_ARN: "${self:custom.${self:provider.stage}.rss_sns_topic_arn}"
    events:
      - schedule: rate(15 minutes)

  FinancialSummaryLoader:
    description: Takes new filings from SQS, queries api, writes to DB
    handler: src/FinancialSummaryLoader.lambdaHandler
    reservedConcurrency: 1
    timeout: 900
    environment:
      API_KEY: ${self:custom.${self:provider.stage}.API_KEY}
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      SQS_QUEUE_NAME: ${self:custom.${self:provider.stage}.financial_summary_sqs_name}
    events:
      - sqs: "${self:custom.${self:provider.stage}.financial_summary_sqs_arn}"

  FECFileLoaderSB:
    description: Gets FEC file url from SQS, downloads, parses for Schedule B filings, loads into DB
    handler: src/FECFileLoader.lambdaHandler
    memorySize: 3008
    reservedConcurrency: 1
    timeout: 900
    environment:
      FILING_TYPE: 'SB'
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      REDSHIFT_COPY_ROLE: ${self:custom.${self:provider.stage}.REDSHIFT_COPY_ROLE}
      S3_BUCKET_NAME: ${self:custom.${self:provider.stage}.copy_from_bucket_name}
      SQS_QUEUE_NAME: ${self:custom.${self:provider.stage}.filing_sb_sqs_name}
    events:
      - sqs: "${self:custom.${self:provider.stage}.filing_sb_sqs_arn}"

  FECFileLoaderSE:
    description: Gets FEC file url from SQS, downloads, parses for Schedule E filings, loads into DB
    handler: src/FECFileLoader.lambdaHandler
    memorySize: 3008
    reservedConcurrency: 1
    timeout: 900
    environment:
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      REDSHIFT_COPY_ROLE: ${self:custom.${self:provider.stage}.REDSHIFT_COPY_ROLE}
      S3_BUCKET_NAME: ${self:custom.${self:provider.stage}.copy_from_bucket_name}
      SQS_QUEUE_NAME: ${self:custom.${self:provider.stage}.filing_se_sqs_name}
      FILING_TYPE: 'SE'
    events:
      - sqs: "${self:custom.${self:provider.stage}.filing_se_sqs_arn}"

  FECFileLoaderSupp:
    description: Gets FEC file url from SQS, downloads, parses for Form 1 Supplemental Data, loads into DB
    handler: src/FECFileLoader.lambdaHandler
    memorySize: 3008
    reservedConcurrency: 1
    timeout: 900
    environment:
      LOG_LEVEL: ${self:custom.${self:provider.stage}.LOG_LEVEL}
      REDSHIFT_COPY_ROLE: ${self:custom.${self:provider.stage}.REDSHIFT_COPY_ROLE}
      S3_BUCKET_NAME: ${self:custom.${self:provider.stage}.copy_from_bucket_name}
      SQS_QUEUE_NAME: ${self:custom.${self:provider.stage}.filing_f1s_sqs_name}
      FILING_TYPE: 'F1S'
    events:
      - sqs: "${self:custom.${self:provider.stage}.filing_f1s_sqs_arn}"

# packaging instructuions, and ignore list
package:
  exclude:
    - .env
    - .git/**
    - .gitignore
    - .pre-commit-config.yaml
    - .pytest_cache/**
    - .serverless/**
    - .python-version
    - .venv
    - .vscode/**
    - bin/**
    - dev-requirements.txt
    - docs/**
    - Makefile
    - mkdocs.yml
    - node_modules/**
    - package.json
    - package-lock.json
    - prerequisite-cloudformation-resources.yml
    - pytest.ini
    - README.md
    - requirements.txt
    - serverless.yml
    - site/**
    - sql/**
    - tests/**
    - tmp/**

# plugin to package dependencies
plugins:
  - serverless-python-requirements

# Cloud Provider config
provider:
  name: aws
  deploymentPrefix: ${self:service}
  logRetentionInDays: 14
  region: ${opt:region, 'us-east-1'}
  runtime: python3.7
  stage: ${opt:stage,'dev'}

  deploymentBucket:
    blockPublicAccess: true
    maxPreviousDeploymentArtifacts: 10
    name: ${self:custom.${self:provider.stage}.deploymentBucketName}
    serverSideEncryption: AES256

  iamRoleStatements:
    - Effect: Allow
      Action:
        - ssm:GetParameter
        - ssm:GetParameters
        - ssm:DescribeParameters
      Resource:
        - Fn::Join:
          - ""
          - - "arn:aws:ssm:"
            - Ref: AWS::Region
            - ":"
            - Ref: AWS::AccountId
            - ":parameter${self:custom.${self:provider.stage}.API_KEY}"
        - Fn::Join:
          - ""
          - - "arn:aws:ssm:"
            - Ref: AWS::Region
            - ":"
            - Ref: AWS::AccountId
            - ":parameter/global/fec-schema/*"
    - Effect: "Allow"
      Action:
        - sqs:DeleteMessage
        - sqs:GetQueueAttributes
        - sqs:GetQueueUrl
        - sqs:ReceiveMessage
        - sqs:SendMessage
      Resource:
        - "${self:custom.${self:provider.stage}.candidate_sync_queue_arn}"
        - "${self:custom.${self:provider.stage}.filing_sb_sqs_arn}"
        - "${self:custom.${self:provider.stage}.financial_summary_sqs_arn}"
        - "${self:custom.${self:provider.stage}.filing_se_sqs_arn}"
        - "${self:custom.${self:provider.stage}.committeesync_sqs_arn}"
        - "${self:custom.${self:provider.stage}.filing_f1s_sqs_arn}"
    - Effect: "Allow"
      Action:
        - sns:Publish
      Resource:
        - "${self:custom.${self:provider.stage}.rss_sns_topic_arn}"
    - Effect: "Allow"
      Action:
        - s3:DeleteObject
        - s3:GetObject
        - s3:ListBucket
        - s3:PutObject
      Resource:
        - "${self:custom.${self:provider.stage}.copy_from_bucket_arn}"
        - "${self:custom.${self:provider.stage}.copy_from_bucket_arn}/*"
    - Effect: "Allow"
      Action:
        - dynamodb:GetItem
        - dynamodb:UpdateItem
        - dynamodb:PutItem
        - dynamodb:DeleteItem
      Resource:
        - "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/fec-item-table"
  tags:
    serverless_managed: true
    serverless_name: ${self:service}
    Owner: Rhythmic Engineering
    Namespace: aws-AdvertisingAnalytics
    Env: ${self:provider.stage}
    git_description: ${self:custom.Version}
  # tracing:
  #   lambda: true

# TODO: add cfn role
# see https://www.albertgao.xyz/2020/02/26/how-to-resolve-require-the-cfnrole-option-warning-for-serverless-framework/
#  cfnRole: arn:aws:iam::XXXXXX:role/role

# TODO: integrate serverless and cfn rsc deploys?
# you can add CloudFormation resource templates here
resources:
  Resources:
    Dashboard:
      Type: AWS::CloudWatch::Dashboard
      Properties:
        DashboardBody: ${file(my-dashboard-body.js):myDashboardBody}
        DashboardName: ${self:service}-dashboard
    FECItemTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        AttributeDefinitions:
          - AttributeName: fec_file_id
            AttributeType: N
        KeySchema:
          - AttributeName: fec_file_id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: fec-item-table
#  - ${file(cfn_resources/deploymentBucket.yml)}
#  - ${file(cfn_resources/sqsQueue.yml)}

outputs:
  MonitoringDashboard: https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#dashboards:name=${self:service}-dashboard
